[submodule "mcp-use"]
	path = mcp-use
	url = git@github.com:mcp-use/mcp-use.git
	branch = main
[submodule "reference-servers"]
	path = reference-servers
	url = git@github.com:smithery-ai/reference-servers.git
	branch = main
[submodule "excel-mcp-server"]
	path = excel-mcp-server
	url = git@github.com:negokaz/excel-mcp-server.git
	branch = main
